<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="../output.css" rel="stylesheet">
  
</head>
<body>
  
  <div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-4">Responsive Grid Örneği</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="bg-blue-200 p-6 rounded shadow">Sütun 1</div>
      <div class="bg-green-200 p-6 rounded shadow">Sütun 2</div>
      <div class="bg-yellow-200 p-6 rounded shadow">Sütun 3</div>
      <div class="bg-pink-200 p-6 rounded shadow">Sütun 4</div>
      <div class="bg-purple-200 p-6 rounded shadow">Sütun 5</div>
      <div class="bg-red-200 p-6 rounded shadow">Sütun 6</div>
    </div>
  </div>

  <br/>
  <div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-4">Responsive Grid Örnek 2</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="bg-blue-200 p-6 rounded shadow">Sütun 1</div>
      <div class="bg-green-200 p-6 rounded shadow">Sütun 2</div>
    </div>
  </div>

  <br/>

  <div class="flex flex-wrap -mx-2">
  <div class="w-full sm:w-1/2 lg:w-1/3 px-2 mb-4">
    <div class="bg-blue-200 p-6 rounded shadow">Sütun 1</div>
  </div>
  <div class="w-full sm:w-1/2 lg:w-1/3 px-2 mb-4">
    <div class="bg-green-200 p-6 rounded shadow">Sütun 2</div>
  </div>
  <div class="w-full sm:w-1/2 lg:w-1/3 px-2 mb-4">
    <div class="bg-yellow-200 p-6 rounded shadow">Sütun 3</div>
  </div>
  <div class="w-full sm:w-1/2 lg:w-1/3 px-2 mb-4">
    <div class="bg-pink-200 p-6 rounded shadow">Sütun 4</div>
  </div>
  <div class="w-full sm:w-1/2 lg:w-1/3 px-2 mb-4">
    <div class="bg-purple-200 p-6 rounded shadow">Sütun 5</div>
  </div>
  <div class="w-full sm:w-1/2 lg:w-1/3 px-2 mb-4">
    <div class="bg-red-200 p-6 rounded shadow">Sütun 6</div>
  </div>
</div>

</body>
</html>