# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VSCode
.vscode/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
__MACOSX/

# Logs
logs
*.log
*.log.*

# Build outputs
dist/
build/
out/
coverage/

# Env files
.env
.env.*

# Others
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*.bak
*.tmp
*.temp

# Custom ignores
orak_modules
